@use 'sass:map';

@use './mixins/mixins.scss' as *;
@use './mixins/function.scss' as *;
@use './common/var.scss' as *;
@use './mixins/button' as *;
@use './mixins/function.scss' as *;

@include b(button) {
  @include set-component-css-var('button', $button);
}

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  transition: 0.1s;
  text-align: center;
  background-color: getVarName('button', 'bg-color');
  color: getVarName('button', 'color');
  border: 1px solid getVarName('button', 'border-color');
  outline: none;
  // height: map.get($input-height, 'default');
  // width: 100px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;

  &:hover {
    background-color: getVarName('button', 'hover', 'bg-color');
    border: 1px solid getVarName('button', 'hover', 'border-color');
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover {
      cursor: not-allowed;
      background-image: none;
      // color: getVarName('button', 'disabled', 'color');
      // background-color: getVarName('button', 'disabled', 'bg-color');
      // border-color: getVarName('button', 'disabled', 'border-color');
    }
  }

  @include when(loading) {
    position: relative;
    top: 1.0667vw;
    margin: 0px 5px 0 0px;
    // left: 50%;
    // transform: translate(-50%, -50%);

    // 让鼠标 / 触摸事件忽略当前元素，直接作用于下层元素。 使元素不可点击、不可选中，但视觉样式不变。
    pointer-events: none;

    // &:before {
    //   z-index: 1;
    //   pointer-events: none;
    //   content: '';
    //   position: absolute;
    //   left: -1px;
    //   top: -1px;
    //   right: -1px;
    //   bottom: -1px;
    //   border-radius: inherit;
    // }
  }

  // 设置颜色
  @each $type in $types {
    // .h-button--info
    @include m($type) {
      @include button-variant($type);
    }
  }

  // 大小
  @each $size in (large, small, default) {
    @include m($size) {
      height: getVarName('font-size', $size);
      padding: getVarName('font-size', $size);
      font-size: getVarName('button', 'size', $size);
    }
  }
}
