@use 'sass:map';

@use '../mixins/function.scss' as *;

// 默认值
// --h-color-regular:--h-text-color
$button: () !default;
$button: map.deep-merge(
  (
    'color': getVarName('color', 'regular'),
    'bg-color': getVarName('bg-color', 'default'),
    'border-color': getVarName('border-color', 'default'),
    'height': getVarName('font-size', 'default'),
    'padding': getVarName('font-size', 'default'),
    'font-size': getVarName('font-size', 'default'),
  ),
  $button
);

//赋值默认值
// --h-bg-color-default:white
$button-value: () !default;
$button-value: map.deep-merge(
  (
    'color-white': white,
    'bg-color-default': white,
    'border-color-default': #dcdfe6,
    'button-disabled-color': rgba(255, 255, 255, 0.5),
    'button-disabled-bg-color': rgba(255, 255, 255, 0.5),
  ),
  $button-value
);

// border-color

// 添加颜色 hover...交互颜色
@mixin button-variant($type) {
  $button-color-type: (
    '': (
      'color': (
        'color',
        'white',
      ),
      'bg-color': (
        'color',
        $type,
      ),
      'border-color': (
        'color',
        $type,
      ),
    ),
    'hover': (
      'color': (
        'color',
        'white',
      ),
      'bg-color': (
        'color',
        $type,
        'light-3',
      ),
      'border-color': (
        'color',
        $type,
        'light-3',
      ),
    ),
  );

  // 添加var()
  // $key:'','hover'  $value( 'text-color':() )
  @each $key, $value in $button-color-type {
    // $type: 'text-color bg-color'  $list:'text-color' white
    @each $type, $list in $value {
      // --h-button-text-color: var(--h-color-white);
      @include css-var-from-global(('button', $key, $type), $list);
    }
  }
}
